body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a39e9e;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #040613;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #656965;
}

#response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #d4d0d0;
    border-radius: 5px;
}
